django
celery
requests
django-filter
djangorestframework
drf-yasg
djangorestframework-xml
djangorestframework-csv
djangorestframework-simplejwt
gunicorn
psycopg2-binary
django-environ
django-storages
boto3
django-admin-rangefilter
django-admin-numeric-filter
pymemcache

# dev
django-debug-toolbar
django-extensions
ipython

# flake8
flake8
flake8-print
flake8-builtins

# pytest
pytest
pytest-django
pytest-cov
pytest-mock
